
/* Here is the body styling */

/* Here is the header styling */ 

/* Here is the hero styling */

.hero {
    background-image: url("../images/headshot.jpg");
    background-position: right;
    height: 600px;
    width: 400px;
}

.my-work-class img {
    width: 150px;
    height: 300px;
}